<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Geist-Medium.ttf</string>
		<string>Geist-Regular.ttf</string>
		<string>Geist-SemiBold.ttf</string>
		<string>GeistMono-Medium.ttf</string>
		<string>GeistMono-Regular.ttf</string>
		<string>Newsreader_24pt-Regular.ttf</string>
		<string>Newsreader_36pt-Light.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>SplashBackground</string>
	</dict>
</dict>
</plist>
